/* importing poppins font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Colors */
    --teal-color: #91C6BC;
    --darkteal-color: #4B9DA9;
    --yellow-color: #f6f3c2;
    --orange-color: #e37434;

    /* Font Size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;

    /* Font Weight */
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-normal: 400;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50px;

    /* Site max width */
    --site-max-width: 1300px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background: var(--yellow-color);
}

/* NAVBAR */
header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 16px;
}

/* LOGO */
.navbar .nav-logo .logo-text {
    color: var(--teal-color);
    font-size: var(--font-size-xl);
}

/* NAV MENU */
.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

/* NAV LINKS */
.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--orange-color);
    background: var(--darkteal-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

/* HOVER EFFECT */
.navbar .nav-menu .nav-link:hover {
    background: var(--teal-color);
    color: white;
}
